<li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
    <small>CATALOGOS</small>
</li>
{% if user.groups.all.0.name != "administrador" %}
    {% if links_catalogo_pld %}
        <a href="#submenu1"
           data-toggle="collapse"
           aria-expanded="false"
           class="list-group-item list-group-item-action flex-column align-items-start bg-light">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-list fa-fw mr-3"></span>
                <span class="menu-collapsed">PLD</span>
                <span class="fa fa-caret-down fa-fw ml-auto"></span>
            </div>
        </a>
        <div id='submenu1' class="collapse sidebar-submenu">
            {% for link in links_catalogo_pld %}
                <a href="{{ link.url }}"
                   class="list-group-item list-group-item-action bg-dark text-white">
                    <span class="menu-collapsed">{{ link.titulo }}</span>
                </a>
            {% endfor %}
        </div>
    {% endif %}
{% else %}
    {% if links_catalogo_pld_admin %}
        <a href="#submenu1"
           data-toggle="collapse"
           aria-expanded="false"
           class="list-group-item list-group-item-action flex-column align-items-start bg-light">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-list fa-fw mr-3"></span>
                <span class="menu-collapsed">PLD</span>
                <span class="fa fa-caret-down fa-fw ml-auto"></span>
            </div>
        </a>
        <div id='submenu1' class="collapse sidebar-submenu">
            {% for link in links_catalogo_pld_admin %}
                <a href="{{ link.url }}"
                   class="list-group-item list-group-item-action bg-dark text-white">
                    <span class="menu-collapsed">{{ link.titulo }}</span>
                </a>
            {% endfor %}
        </div>
    {% endif %}
{% endif %}
{% if user.groups.all.0.name != "administrador" %}
    {% if links_catalogo_trabajos %}
        <a href="#submenu2"
           data-toggle="collapse"
           aria-expanded="false"
           class="list-group-item list-group-item-action flex-column align-items-start bg-light">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-list fa-fw mr-3"></span>
                <span class="menu-collapsed">Trabajo</span>
                <span class="fa fa-caret-down fa-fw ml-auto"></span>
            </div>
        </a>
        <div id='submenu2' class="collapse sidebar-submenu">
            {% for link in links_catalogo_trabajos %}
                <a href="{{ link.url }}"
                   class="list-group-item list-group-item-action bg-dark text-white">
                    <span class="menu-collapsed">{{ link.titulo }}</span>
                </a>
            {% endfor %}
        </div>
    {% endif %}
{% else %}
    {% if links_catalogo_trabajos_admin %}
        <a href="#submenu2"
           data-toggle="collapse"
           aria-expanded="false"
           class="list-group-item list-group-item-action flex-column align-items-start bg-light">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-list fa-fw mr-3"></span>
                <span class="menu-collapsed">Trabajo</span>
                <span class="fa fa-caret-down fa-fw ml-auto"></span>
            </div>
        </a>
        <div id='submenu2' class="collapse sidebar-submenu">
            {% for link in links_catalogo_trabajos_admin %}
                <a href="{{ link.url }}"
                   class="list-group-item list-group-item-action bg-dark text-white">
                    <span class="menu-collapsed">{{ link.titulo }}</span>
                </a>
            {% endfor %}
        </div>
    {% endif %}
{% endif %}
{% if user.groups.all.0.name != "administrador" %}
    {% if links_catalogo_domicilio %}
        <a href="#submenu5"
           data-toggle="collapse"
           aria-expanded="false"
           class="list-group-item list-group-item-action flex-column align-items-start bg-light">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-list fa-fw mr-3"></span>
                <span class="menu-collapsed">Domicilio</span>
                <span class="fa fa-caret-down fa-fw ml-auto"></span>
            </div>
        </a>
        <div id='submenu5' class="collapse sidebar-submenu">
            {% for link in links_catalogo_domicilio %}
                <a href="{{ link.url }}"
                   class="list-group-item list-group-item-action bg-dark text-white">
                    <span class="menu-collapsed">{{ link.titulo }}</span>
                </a>
            {% endfor %}
        </div>
    {% endif %}
{% else %}
    {% if links_catalogo_domicilio_admin %}
        <a href="#submenu5"
           data-toggle="collapse"
           aria-expanded="false"
           class="list-group-item list-group-item-action flex-column align-items-start bg-light">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-list fa-fw mr-3"></span>
                <span class="menu-collapsed">Domicilio</span>
                <span class="fa fa-caret-down fa-fw ml-auto"></span>
            </div>
        </a>
        <div id='submenu5' class="collapse sidebar-submenu">
            {% for link in links_catalogo_domicilio_admin %}
                <a href="{{ link.url }}"
                   class="list-group-item list-group-item-action bg-dark text-white">
                    <span class="menu-collapsed">{{ link.titulo }}</span>
                </a>
            {% endfor %}
        </div>
    {% endif %}
{% endif %}
{% if user.groups.all.0.name != "administrador" %}
    {% if links_catalogo_persona %}
        <a href="#submenu3"
           data-toggle="collapse"
           aria-expanded="false"
           class="list-group-item list-group-item-action flex-column align-items-start bg-light">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-list fa-fw mr-3"></span>
                <span class="menu-collapsed">Persona</span>
                <span class="fa fa-caret-down fa-fw ml-auto"></span>
            </div>
        </a>
        <div id='submenu3' class="collapse sidebar-submenu">
            {% for link in links_catalogo_persona %}
                <a href="{{ link.url }}"
                   class="list-group-item list-group-item-action bg-dark text-white">
                    <span class="menu-collapsed">{{ link.titulo }}</span>
                </a>
            {% endfor %}
        </div>
    {% endif %}
{% else %}
    {% if links_catalogo_persona_admin %}
        <a href="#submenu3"
           data-toggle="collapse"
           aria-expanded="false"
           class="list-group-item list-group-item-action flex-column align-items-start bg-light">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-list fa-fw mr-3"></span>
                <span class="menu-collapsed">Persona</span>
                <span class="fa fa-caret-down fa-fw ml-auto"></span>
            </div>
        </a>
        <div id='submenu3' class="collapse sidebar-submenu">
            {% for link in links_catalogo_persona_admin %}
                <a href="{{ link.url }}"
                   class="list-group-item list-group-item-action bg-dark text-white">
                    <span class="menu-collapsed">{{ link.titulo }}</span>
                </a>
            {% endfor %}
        </div>
    {% endif %}
{% endif %}
{% if user.groups.all.0.name != "administrador" %}
    {% if links_catalogo_formulario %}
        <a href="#submenu4"
           data-toggle="collapse"
           aria-expanded="false"
           class="list-group-item list-group-item-action flex-column align-items-start bg-light">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-list fa-fw mr-3"></span>
                <span class="menu-collapsed">Formulario</span>
                <span class="fa fa-caret-down fa-fw ml-auto"></span>
            </div>
        </a>
        <div id='submenu4' class="collapse sidebar-submenu">
            {% for link in links_catalogo_formulario %}
                <a href="{{ link.url }}"
                   class="list-group-item list-group-item-action bg-dark text-white">
                    <span class="menu-collapsed">{{ link.titulo }}</span>
                </a>
            {% endfor %}
        </div>
    {% endif %}
{% else %}
    {% if links_catalogo_formulario_admin %}
        <a href="#submenu4"
           data-toggle="collapse"
           aria-expanded="false"
           class="list-group-item list-group-item-action flex-column align-items-start bg-light">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-list fa-fw mr-3"></span>
                <span class="menu-collapsed">Formulario</span>
                <span class="fa fa-caret-down fa-fw ml-auto"></span>
            </div>
        </a>
        <div id='submenu4' class="collapse sidebar-submenu">
            {% for link in links_catalogo_formulario_admin %}
                <a href="{{ link.url }}"
                   class="list-group-item list-group-item-action bg-dark text-white">
                    <span class="menu-collapsed">{{ link.titulo }}</span>
                </a>
            {% endfor %}
        </div>
    {% endif %}
{% endif %}
