<div class="row">
    <div class="card">
        <div class="card-header card-header-rose">
            <div class="row">
                <h4 class="card-title ml-3 mt-2">Detalle de Polizas</h4>
                <button type="button" id="btnMas" class="btn btn-secondary btn-sm ml-4">
                    <i class="fa fa-plus"></i>
                </button>
                <button type="button" id="btnMenos" class="btn btn-secondary btn-sm ml-1">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            {% for form in forms %}
                <div id="poliza_detalle{{ forloop.counter }}">
                    <div class="row">
                        <div class="col">
                            <hr>
                        </div>
                        <div class="col-auto">DETALLE DE POLIZA {{ forloop.counter }}</div>
                        <div class="col">
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Concepto</label>
                            {{ form.concepto }}
                        </div>
                        <div class="col-md-4">
                            <label>Cuenta</label>
                            {{ form.cuenta }}
                        </div>
                        <div class="col-md-4">
                            <label>Proveedor</label>
                            {{ form.proveedor }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Cargo</label>
                            {{ form.cargo }}
                        </div>
                        <div class="col-md-3">
                            <label>Abono</label>
                            {{ form.abono }}
                        </div>
                        <div class="col-md-2">
                            <label>Tasa de IVA</label>
                            {{ form.iva }}
                        </div>
                        <div class="col-md-4">
                            <label>Sucursal</label>
                            {{ form.sucursal }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
