<div class="sidebar"
     data-color="purple"
     data-background-color="white"
     data-image="/static/assets/img/sidebar-1.jpg">
    <div class="logo">
        <a target="_blank"
           rel="noopener noreferrer"
           href="#"
           class="simple-text logo-normal">App Administrativa</a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            {% if request.user.is_authenticated %}
                {% for nav_link in nav_links %}
                    <li class="nav-item {% if 'index' in segment %} active{% endif %}">
                        <a class="nav-link" href="{{ nav_link.url }}">
                            <i class="material-icons">{{ nav_link.icono }}</i>
                            <p>{{ nav_link.titulo }}</p>
                        </a>
                    </li>
                {% endfor %}
            {% else %}
                <li class="nav-item active">
                    <a class="nav-link"
                       target="_blank"
                       rel="noopener noreferrer"
                       href="https://appseed.us/admin-dashboards/django-dashboard-material-pro">
                        <i class="material-icons">unarchive</i>
                        <p>PRO Version</p>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
