{% extends "layouts/base.html" %}
{% load static %}
{% block title %}Agregar poliza{% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <script type="text/javascript" src="{% static jquery %}"></script>
    {{ form.media }}
{% endblock stylesheets %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Datos de la nueva poliza</h4>
                    <p class="card-category">Ajusta cada uno de los valores siguientes</p>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-5">
                                <label>Concepto</label>
                                {{ formPoliza.concepto }}
                            </div>
                            <div class="col-md-4">
                                <label>Tipo</label>
                                {{ formPoliza.tipo }}
                            </div>
                            <div class="col-md-3">
                                <label class="mt-4">Automatica</label>
                                {{ formPoliza.automatica }}
                            </div>
                        </div>
                        <div id="poliza_egreso" class="card">
                            <div class="card-header card-header-rose">
                                <h4 class="card-title">Datos de Poliza de egreso</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Beneficiario</label>
                                        {{ formPolizaEgreso.beneficiario }}
                                    </div>
                                    <div class="col-md-4">
                                        <label>Cheque</label>
                                        {{ formPolizaEgreso.cheque }}
                                    </div>
                                    <div class="col-md-4">
                                        <label>Banco</label>
                                        {{ formPolizaEgreso.banco }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <label>Sucursal</label>
                                {{ formPoliza.sucursal }}
                            </div>
                            <div class="col-md-4">
                                <label>Fecha</label>
                                {{ formPoliza.fecha }}
                            </div>
                            <div class="col-md-3">
                                <label>Usuario que autoriza</label>
                                {{ formPoliza.usuarioAutoriza }}
                            </div>
                        </div>
                        {% include 'includes/detallesPolizas.html' %}
                        <button type="submit" class="btn btn-primary pull-right">Guardar</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% load static %}
    <script src="{% static 'scripts/polizas.js' %}"></script>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
% endblock javascripts %}
