{% extends "layouts/base.html" %}
{% load static %}
{% block title %}Formulario{% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <script type="text/javascript" src="{% static jquery %}"></script>
    {{ form.media }}
{% endblock stylesheets %}
{% block content %}
    <div class="card card-nav-tabs col-md-7">
        <div class="card-header card-header-primary">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#personas" data-toggle="tab">Polizas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#pld" data-toggle="tab">Detalle de polizas</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="tab-content bg text-center">
                    <div class="tab-pane active" id="personas">
                        {{ formPoliza.tipo.name }}
                        {{ formPoliza.tipo }}
                        <div id="poliza_egreso" class="card">
                            <div class="card-header card-header-rose">
                                <h4 class="card-title">Datos de Poliza de egreso</h4>
                            </div>
                            <div class="card-body">{{ formPolizaEgreso }}</div>
                        </div>
                        {% for field in formPoliza %}
                            {% if field.name != "tipo" %}{{ field.name }}{{ field }}{% endif %}
                        {% endfor %}
                    </div>
                    <div class="tab-pane" id="pld">{{ formDetallePoliza }}</div>
                </div>
                <br>
                <br>
                <button type="submit" class="btn btn-primary pull-right">Guardar</button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
{% endblock content %}
{% block javascripts %}
    const el = document.getElementById('id_tipo');
    const box = document.getElementById('poliza_egreso');
    el.addEventListener('change', function handleChange(event) {
    if (event.target.value === 'E') {
    box.style.display = 'block';
    } else {
    box.style.display = 'none';
    document.getElementById("id_beneficiario").required = false;
    document.getElementById("id_banco").required = false;
    document.getElementById("id_cheque").required = false;
    }
    });
{% endblock javascripts %}
