{% extends "layouts/base.html" %}
{% load static %}
{% block title %}Polizas{% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <script type="text/javascript" src="{% static jquery %}"></script>
    {{ form.media }}
{% endblock stylesheets %}
{% block content %}
    <div class="card card-nav-tabs col-md-8">
        <div class="card-header card-header-primary">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ul class="nav nav-tabs" data-tabs="tabs" id="navba">
                        <li class="nav-item">
                            <a class="nav-link active" href="#personas" data-toggle="tab">Polizas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#pld" data-toggle="tab">Detalle de polizas</a>
                        </li>
                        {% for o in '0'|make_list %}
                            <li class="nav-item" id="tabp" style="display: none;">
                                <a class="nav-link" href="#pld{{ forloop.counter }}" data-toggle="tab">Detalle de polizas</a>
                            </li>
                        {% endfor %}
                        <button id="toggle" class="btn btn-secondary btn-sm">+ Agregar más detalles</button>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="tab-content bg text-center" id="contenedor-forms">
                    <div class="tab-pane active" id="personas">
                        {{ formPoliza.tipo.name }}
                        {{ formPoliza.tipo }}
                        <div id="poliza_egreso" class="card">
                            <div class="card-header card-header-rose">
                                <h4 class="card-title">Datos de Poliza de egreso</h4>
                            </div>
                            <div class="card-body">{{ formPolizaEgreso }}</div>
                        </div>
                        {% for field in formPoliza %}
                            {% if field.name != "tipo" %}{{ field.name }}{{ field }}{% endif %}
                        {% endfor %}
                    </div>
                    <div class="tab-pane" id="pld">{{ formDetallePoliza }}</div>
                    {% for o in '0'|make_list %}
                        {% if forloop.counter == 1 %}
                            <div class="tab-pane" id="pld{{ forloop.counter }}">{{ forloop.counter }}{{ formDetallePoliza1  }}</div>
                        {% elif forloop.counter == 2 %}
                            <div class="tab-pane" id="pld{{ forloop.counter }}">{{ forloop.counter }}{{ formDetallePoliza2  }}</div>
                        {% endif %}
                    {% endfor %}
                </div>
                <br>
                <br>
                <button type="submit" class="btn btn-primary pull-right">Guardar</button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
    {% load static %}
    <script src="{% static 'scripts/polizas.js' %}"></script>
{% endblock content %}
{% block javascripts %}
{% endblock javascripts %}
