{% extends "layouts/base.html" %}
{% block title %}Todas empresas{% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Lista de empresas:</h4>
                </div>
                <div class="card-body">
                    <form class="navbar-form">
                        <div class="input-group no-border">
                            <input type="text"
                                   value=""
                                   class="form-control"
                                   placeholder="Busca por nombre o apellidos..."
                                   id="kword"
                                   name="kword"/>
                            <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>
                            </button>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Nombre</th>
                                <th>Domicilio</th>
                                <th>Telefono</th>
                                <th>Empleos fijos</th>
                                <th>Frecuencia</th>
                                <th>Cantidad de meses</th>
                                <th>Cantidad de dias</th>
                            </thead>
                            <tbody>
                                {% for empresa in empresas %}
                                    <tr>
                                        <td class="text-primary">
                                            <a href="/empresas/{{ empresa.id }}">{{ empresa.nombre }}</a>
                                        </td>
                                        <td>{{ empresa.domicilio.cp }} - {{ empresa.domicilio.calle.nombre }} {{ empresa.domicilio.numero }}</td>
                                        <td>{{ empresa.telefono }}</td>
                                        <td>{{ empresa.empleosFijos }}</td>
                                        <td>{{ empresa.frecuencia }}</td>
                                        <td>{{ empresa.frecuencia.meses }}</td>
                                        <td>{{ empresa.frecuencia.dias }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
